@font-face {
    font-family: cooper;
    src: url(./CooperLtBTWXXLight.ttf);
}



*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
#main{
    position: relative;
    overflow-x: hidden;
}
#icon{
    display: none;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: transparent;
    cursor: pointer;
}
.line{
    width: 90%;
    height: 4px;
    background-color: black;
    transition: .8s ease;
}

#l2{
    width: 50%;
   
}
#l3{
    width: 20%;
 
    /* transform-origin: 0 0; */
}
#nav{
    position: fixed;
    width: 100vw;
    height: 10vh;
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 99;
    background-color: #fff;

}
#menu{
    height: 90vh;
    width: 100%;
    position: absolute;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 150%;
    left: 50%;
    /* display: none; */
    transform: translate(-50%,-50%);
    z-index: 999999999;
    transition: 1s ease;
}

#nav>h1{
    font-size: 3vw;
    font-family: cooper;
    font-weight: 100;
}
#dets{
    display: flex;
    gap: 2vw;
    align-items: center;
}
#dets>a{
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
    font-family: cooper;
    /* font-weight: 100; */
}
#dets>a:nth-last-child(1){
    border: .5px solid black;
    padding: 3px 20px;
    border-radius: 50px;
    display: flex;
    z-index: 99;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;
    position: relative;
    overflow: hidden;
}

#green{
    height: 100%;
    width: 100%;
    background-color: springgreen;
    position: absolute;
    left: -100%;
    top: 0%;
    z-index: -1;
    /* border-radius: 50px; */
    transition: .8s ease;
}
#dets>a:nth-last-child(1):hover #green{
    left: 0%;
}
#page1{
    height: 100vh;
    width: 100vw;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    overflow: hidden;
}
#page1>h1{
    font-family: cooper;
    font-weight: 100;
    width: 55%;
    font-size: 6vw;
    /* background-color: red; */
    text-align: center;
    z-index: 99;
    position: relative;
    font-weight: 100;
}
#o1{
    position: absolute;
    height: 35vw;
    left: 6.2%;
    top: 19%;
    width: 23vw;
    transition: top ease 1s;
}
#o1:hover{
    top: 17%;
    

}
#o2{
    position: absolute;
    height: 16vw;
    top: 12%;
    transition: top ease 1s;

    right: 20%;

}
#o2:hover{
    top: 10%;
    

}
#o3{
    position: absolute;
    height: 18vw;
    bottom: 9%;
right: 10%;
transition: bottom ease 1s;

/* transition: all ease 1s; */

}
#o3:hover{
    bottom: 11%;
    

}
#page1 h1::after{
    content: "";
    width: 45%;
    position: absolute;
    bottom: -2%;
    height: 15px;
    /* margin-top: 2px; */
    /* background-color: red; */
    background-size: cover;
    left: 50%;
    transform: translate(-50%,0%);
    background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);

}
#page1>h4{
    display: flex;
    font-size: 1.5vw;
    font-family: cooper;
    margin-top: 2vw;
    font-weight: 100;
    align-items: center;
    gap: 10px;
    position: relative;

}
#page1>h4>#arrow{
    border: .2px solid black;
    padding: 1px 15px;
    border-radius: 30px;
    cursor: pointer;
    opacity: .5;
    position: relative;
    overflow: hidden;

}
#page1>h4>#arrow:hover{
    opacity: 1;
}
#page1>h4>#arrow:hover #green{
    left: 0%;
    opacity: 1;
}
#bpage{
    position: relative;
    height: 70vh;
    width: 100vw;
    background-color: #11111c;
    /* background-color: pink; */
    color: white;
    overflow: hidden;
    flex-direction: column;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */

}
#bpage>h3{
    margin-top: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.2vw;
    display: flex;
    align-items: center;
    gap: 8px;
}
#bpage>h3>#circ{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #00eb8f;
}
#bpage>h1{
    width:70%;
    margin-top: 3vw;
    font-family: cooper;
    font-size: 3.5vw;
    text-align: center;
    position: relative;
}
#bpage>h1::after{
    content: "";
    width: 23%;
    height: 100px;
    background-image: url(https://thisisdigital.co.uk/dist/images/circle-green.svg);
    position: absolute;
left: 49%;
top: 62%;
transform: translate(-50%,0%);
}
#bpage>h4{
    font-size: 1.7vw;
    font-weight: 400;
    font-family: gilroy;
    display: flex;
    align-items: center;
    margin-top: 5vw;
    gap: 15px;
  
}
#bpage>h4>#arrow{
    border: 2px solid white;
    border-radius: 50px;
    padding: 0 10px;
    position: relative;
    overflow: hidden;
    z-index: 5;
    cursor: pointer;
    
}
#o{
    z-index: 5;
}
#bpage>h4>#arrow>#green-b{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #00eb8f;
    top: .8%;
    left: -100%;
    transform: translate(0%,0%);
    transition: .8s ease;
    cursor: pointer;
}
#bpage>h4>#arrow:hover #green-b{
    left: 0%;
    z-index: 2;
}


#page2{
    height: 100vh;
    width: 100vw;
    display: flex;
}
#left3{
    height: 100vh;
    width: 50%;
    position: relative;
    background-color: white;
    display: flex;
}
#right3{
    height: 100vh;
    width: 50%;
    
    display: flex;
    flex-direction: column;
padding: 12vw 50px ;

}
#right3>h1{
    font-size: 4.5vw;
    font-family: cooper;
    font-weight: 100;
    line-height: 1.2;
    width: 100%;
    position: relative;
}
#right3>h1::after{
    content: "";
    width: 40%;
    height: 14px;
    position: absolute;
    background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
    background-size: cover;
    left: 24%;
    top: 45%;

}
#right3>p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    display: inline-block;
    width: 90%;
    font-size: 1.5vw;
    margin-top: 3vw;
}
#page2 #dets{
    display: flex;
    align-items: center;
    margin-top: 5vw;

}
#page2 #dets>#img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    overflow: hidden;
}
#page4 #dets>#img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    overflow: hidden;
}
#dets>h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
}
#dets>#img>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#dets>a{
    position: relative;
}
#dets>a:hover #green{
    left: 0%;
}
#left-img{
height: 100vh;
width: 23%;
background-color: white;
display: flex;
flex-direction: column;
justify-content: space-between;
}
#left-img>img:nth-child(1){
    height: 70%;
    width: 100%;
    object-fit: cover;
}
#left-img>img:nth-child(2){
    height: 25%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#right-img{
    height: 100vh;
    width: calc(100% - 23%);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 3vw;
    position: relative;
}
#right-img>img:nth-child(1){
    width: 70%;
    height: 32%;
    
    object-position: center;
}
#right-img>img:nth-child(2){
    width: 96%;
    height: 62%;
    
    object-position: center;
}
#page3{
    height: 100vh;
    width: 100vw;
    /* background-color: azure; */
    display: flex;
    align-items: center;
    padding: 2vw 0 0 0;
    flex-direction: column;
}
#page3>h1{
    font-size: 4vw;
    width: 60%;
    text-align: center;
    font-family: cooper;
    font-weight: 100;
    position: relative;
    margin-top: 3vw;
}
#page3>h1::after{
    content: "";
    width: 20%;
    position: absolute;
    height: 50%;
    top: 0%;
    left: 17%;
    background-image: url(https://thisisdigital.co.uk/dist/images/circle-green.svg);
}
#comp{
    width: 90%;
    /* gap: 5px; */
    
    /* padding: 0 8vw; */
}
#comp>img{
    width: 150px;
    margin-left: 100px;
    margin-top: 100px;
}
#page3>h4{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5vw;
}
#page4{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#img4{
    height: 67%;
    width: 88%;
    /* background-color: pink; */
    display: flex;
align-items: center;
justify-content:space-around ;


}
.box4{
    height: 85%;
    width: 45%;
    background-color: brown;
    position: relative;
    overflow: hidden;
    cursor: pointer;

}
.box4>img{
    height: 100%;
    width: 100%;
    transition: .7s ease;

}
.box4:hover #b4i{
    transform: scale(1.1);
}
.box4:hover #b4i2
{
    transform: scale(1.1);
}
.box4>#overlay{
    height: 100%;
    width: 100%;
    background: linear-gradient(to top,rgba(0, 0, 0, 0.756) 25%,transparent 75%);
    position: absolute;
    /* z-index: 999; */
    top: 0%;
}
.box4>a{
    position: absolute;
    z-index: 9;
    color: white;
    left: 5%;
    bottom: 5%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7vw;
    display: flex;
    align-items: center;
}
.box4>a>#gar{
    border: 2px solid white;
    border-radius: 50px;
    /* padding: 0 20px; */
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    margin-left: 10px;
    position: relative;
    overflow: hidden;
}
.box4>a>#gar>#green{
    transition: .8s cubic-bezier(0.19, 1, 0.22, 1);
}

.box4:hover #green{
    left: 0%;
}
#clogo{
    position: absolute;
  height: 3vw;
  width: 10vw;
  left: 5%;
  top: 5%;
  z-index: 999;
  
}
#clogo>img{
    height: 100%;
    width: 100%;
}
.box4>h1{
    position: absolute;
    left: 5%;
    font-weight: 100 ;
    color: white;
    z-index: 99999;
    top: 40%;
    font-family: cooper;
    font-size: 3vw;
    width: 70%;
}
#box41>h1{
    width: 80%;
    top: 50%;
}
#page4>#dets>h3{
    font-weight: 100;
}
#page5{
    height: 100vh;
    width: 100vw;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper {
    width: 80%;
    height: 80%;
    position: relative;
   
  }

  .swiper-slide {
    position: relative;
    font-size: 18px;
    background: white;
 display:flex ;
 align-items: center;
 flex-direction: column;
 padding: 2vw 5vw;
 cursor: grab;
  }
  .swiper-slide >img{
    height: 5vw;
  }
  
  .swiper-slide >h1{
    font-family: cooper;
    font-size: 4vw;
    text-align: center;
    font-weight: 100;
    margin-top: 3vw;
    
  }
  #swc{
    width: 40%;
    /* background-color: #dadada; */
    margin-top: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  #swc>h1{
font-family: Arial, Helvetica, sans-serif;
font-weight: 100;
display: flex;
align-items: center;
font-size: 1.5vw;
gap: 1.5vw;
  }
  #swc>h1>#gcir{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #00eb8f;
  } 
  #swc>h2{
    font-family: Arial, Helvetica, sans-serif;
    opacity: .5;
    font-size: 1.4vw;
    margin-left: 1.8vw;
  }
  .swiper-slide:nth-child(2)>img{
    width: 7vw;
    height: 4vw;
  }
  .swiper-slide:nth-child(5)>img{
    width: 12vw;
    height: 3vw;
  }
  #page6{
    min-height: 100vh;
    width: 100vw;
    /* background-color: pink; */
    position: relative;
    display: flex;
    /* justify-content: baseline; */
    align-items: flex-end;
    overflow: hidden;
  
  }
  #page6>#black{
    height: 70vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
  
    /* justify-content: center; */
  }
  #bimg{
    border: 1px solid transparent;
    height:22vw;
    width: 70vw;
margin-top: -8vw;
position: relative;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
/* flex-direction: column; */

  }
  #bimg>img{
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
    object-position: center;
    position: absolute;
  }
  #bover{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.462);
    position: absolute;
    top: 0%;
    left: 0%;
  }
 #bimg>h1{
    
    position: relative;
    z-index: 99;
    color: white;
    /* top: 0%; */
    width: 80%;
    font-family: cooper;
    font-weight: 100;
    text-align: center;
  }
  #bimg>h1::before{
    content: "";
    position: absolute;
    width: 12%;
    height: 10px;
    top: 42%;
    left: 20.5%;
    background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
    background-size: cover;
  }
  #bimg>#dets{
    z-index: 99;
    /* position: relative; */
    /* margin-top: 3vw; */

    margin-top: 5vw;
    
  }
  #pbi{
    height: 70px;
    width: 70px;
    background-color: red;
    /* z-index: 88; */
    border-radius: 50%;
    background-image: url(https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fHBvcnRyYWl0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;

  }
  #bimg>#dets>h1{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.3vw;
  }
  #bimg>#dets>a{
    color: #fff;
    border-color: #fff;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1vw;
    -webkit-text-stroke: .1px black;
  }

  #middle{
    /* background-color: red; */
    width: 85%;
    height: 52%;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.547);
  }
  #p1{
height: 100%;
width: 30%;
/* background-color: #fff; */
display: flex;
flex-direction: column;
padding: 2vw 0;
  }
  #p1>h1{
    font-family: cooper;
    font-weight: 100;
    font-size: 3vw;
    width: 80%;
    text-align: center;
    position: relative;
    z-index: 99;
    color: #fff;

  }
  #p1>h1::after{
    content: "";
    position: absolute;
    height: 57%;
    width: 52%;
    background-image: url(https://thisisdigital.co.uk/dist/images/circle-green.svg);
    background-size: cover;
    left: 5%;
    z-index: -1;


  }
  
  #p1>#dets{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin-top: 2vw;
    margin-left: 2vw;
    color: #fff;

    font-size: .9vw;

  }
  #p1>#dets>a{
    border-color: #fff;
  }
  .text{
    height: 100%;
    width: 15%;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    padding: 3vw 0;
font-size: 1.1vw;
font-weight: 100;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
  }
 
  .text>a{
    text-decoration: none;
    color: white;
    font-size: 1.2vw;
    font-weight: 100;
    font-family: gilroy;
  }
  #p5{
width: 25%;
height: 100%;
/* background-color: aquamarine; */
display: flex;
flex-direction: column;
align-items: center;
padding: 2vw 0;
  }
  #p5>img{
    width: 10vw;
  }
  #p5>img:nth-child(2){
    height: 7vw;
    width: 8vw;
  }
 
  a:hover{
    border-bottom: 1.5px solid #00eb91b5;
  }
  #nav>h1>span{
    font-family: cooper;
    color: #07da89;
    font-size: 4vw;
  }
  #bottom{
    width: 100%;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 8vw;
  }
  #bottom>#second{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 4vw;
    
  }
  #bottom>#second>a{
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  }
  #bottom>#second>a:hover{
    border-color: #00eb8f;
  }
  #bottom>#second>h3{
    font-family: gilroy;
    font-size: .9vw;
    font-weight: 100;
  }
  #bottom>#second>h3>a{
    text-decoration: none;
    color: #fff;
  }
  #bottom>#second>h3>a:hover{
    border-bottom: 1px solid rgba(0, 255, 128, 0.692);
  }
  #bottom>#second>i{
    font-size: 1.8vw;
    cursor: pointer;
    transition: .3s ease;
    /* color: black; */
  }
  #bottom>#first>h1{
font-family: cooper;
font-weight: 100;
font-size: 1.5vw;
  }
  #bottom>#second>i:hover{
    color: #00eb91c6;
    
  }
  .swiper-pagination-bullet{
    background-color: red;
  }
  #bpage{
    z-index: 99999;
    position: relative;
  }
  @media (max-width:500px) {
    
    #page1>h1{
        margin-top: -75vw;
        font-size: 9vw;
        width: 80%;
    }

    #page1>h4{
font-size: 4vw;
    }
    #o1{
        height: 130vw;
        width: 100vw;
        top: 40%;
        left: 0%;
    }
    #o2{
        display: none;
    }
    #o3{
        display: none;
    }
    #bpage{
        height: 25vh;
    }
    #bpage>h1{
        font-size: 5vw;
        width: 90%;
    }
    #bpage>h3{
font-size: 2.8vw
    }
    #bpage>h1::after{
        top: 45%;
        height: 50px;
        left: 66%;
        width: 25%;
    }
    #bpage>h4{
        font-size: 4vw;
    }
    #nav>#dets>a{
        display:none ;
    }
    #nav>#dets>a:nth-last-child(1){
        display: none;
    }
    #menu>#dets>a{
        font-size: 8vw;
       
    }
    #menu>#dets{
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    #nav{
        padding: 0 20px;
    }
    #nav>h1{
        font-size: 6.5vw;
    }
    #icon{
        display: flex;
    }
    #page2{
        flex-direction: column;
    }
    #left3{
        width: 100%;
    }
    #left-img{
        width: 100%;
        height: 100%;
    }
    #right-img{
       height: 100%; 
       width: 250%;
       
    }
    #right3{
        width: 100%;
    }
    #right3>h1{
        font-size: 8.1vw;
        /* text-align: center; */
    }
    #right3>p{
        font-size: 3vw;
    }
    #right3>#dets>h3{
        font-size: 4vw;
        white-space: nowrap;
    }
    #right3>#dets>a{
        font-size: 4vw;
        white-space: nowrap;
    }
#page3>h1{
font-size: 8vw;
width: 100%;
margin-top: 15vw;
}
#page3>h1::after{
left: 38%;
top: -2%;
height: 55px;
}
#page3>#comp>img{
    margin-top: 40px;
    margin-left: 50px;
    width: 120px;
}
#img4{
    flex-direction: column;
    gap: 5vw;
}
.box4{
    width: 100%;
    height: 50%;
}
.box4>a{
font-size: 4vw;
}
.box4>h1{
    font-size: 6vw;
}
.box4>#clogo{
    width: 25vw;
    height: 10vw;
}
#page4>#dets{
    margin-top: 10vw;
}
#page4>#dets>h3{
    font-size: 4vw;
}
#page4>#dets>a{
    font-size: 4vw;
}
.swiper{
    height: 100%;
    width: 100%;
}
#page5{
    height: 50vh;
}
.swiper-slide>h1{
    font-size: 7vw;
}
.swiper-slide>img{
    height: 8vw;
}
.swiper-slide:nth-child(2)>img{
    width: 20vw;
    height: 9vw;
  }
  .swiper-slide:nth-child(5)>img{
    width: 24vw;
    height: 8vw;
  }
  #swc>h1{
    font-size: 4vw;
    white-space: nowrap;
  }
  #swc>h2{
    font-size: 3.5vw;
    white-space: nowrap;
  }
  #bimg{
    height: 30vw;
    width: 80vw;
  }
  #bimg>h1{
    font-size: 3vw;
    margin-top: 4vw;
  }
  #pbi{
    height: 40px;
    width: 40px;
  }
  #bimg>#dets>h1{
    font-size: 4vw;
    white-space: nowrap;
  }
  #bimg>#dets>a{
    font-size: 2vw;
    white-space: nowrap;
  }
  #middle{
    position: relative;
    height: 75%;
  }
  #p1{
    position: absolute;
    top: 54%;
    width: 100%;
    height: 40%;
    /* background-color: pink; */
 align-items: center;
 justify-content: center;
 /* background-color: aquamarine; */

  }
  #p1>h1{
    font-size: 7vw;
 
  }
  .text{
    height: 60%;
    width: calc(100%/3);
    font-size: 3vw;

  }
  .text>h2{
    margin-top: 5vw;
  }
  .text>a{
    font-size: 3vw;
  }
  #p5{
    position: absolute;
    width: 100%;
    top: 30%;
    display: flex;
    flex-direction: row;
    height: 30%;
    justify-content: space-between;
    /* background-color: pink; */
  }
  #bottom{
    /* background-color: #fff; */
    position: absolute;
    bottom: 0%;
  }
  #p5>img{
    width: 25vw;
  }
  #p5>img:nth-child(2){
    height: 18vw;
    width: 18vw;
  }
  #p1>#dets>h1{
    font-size: 4.8vw;
  }
  #p1>h1::after{
    top: 0%;
left: 60%;
width: 40%;
  }
  #bottom>#first>h1{
    white-space: nowrap;
  }
  #bottom>#second>h3{
    font-size: 1vw;
  }
  #bottom>#second>a{
    font-size: 2vw;
    white-space: nowrap;
  }
}